<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <%- include('navbar/nav') %>
    <div class="container">
        <div class="row mt-3">
            <form action="/recom" method="post">
                <label for="">CPU: </label>
                <select name="BrandCPU" id="BrandCPU">
                    <% BrandCPU.forEach((BrandCPUs, index) => { %>
                        <option value="<%= BrandCPUs %>"><%= BrandCPUs %></option>
                    <% })%>
                </select>
                <select name="SeriesCPU" id="SeriesCPU">
                    <% SeriesCPU.forEach((SeriesCPUs, index) => { %>
                        <option value="<%= SeriesCPUs %>"><%= SeriesCPUs %></option>
                    <% })%>
                </select>
                <select name="ModelCPU" id="ModelCPU">
                    <% ModelCPU.forEach((ModelCPUs, index) => { %>
                        <option value="<%= ModelCPUs %>"><%= ModelCPUs %></option>
                    <% })%>
                </select>
                <select name="CPU_Base_Clock" id="CPU_Base_Clock">
                    <% CPU_Base_Clock.forEach((CPU_Base_Clocks, index) => { %>
                        <option value="<%= CPU_Base_Clocks %>"><%= CPU_Base_Clocks %></option>
                    <% })%>
                </select>
                <select name="PriceCPU" id="PriceCPU">
                    <% PriceCPU.forEach((PriceCPUs, index) => { %>
                        <option value="<%= PriceCPUs %>"><%= PriceCPUs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">Mainboard: </label>
                <select name="BrandMainboard" id="BrandMainboard">
                    <% BrandMainboard.forEach((BrandMainboards, index) => { %>
                        <option value="<%= BrandMainboards %>"><%= BrandMainboards %></option>
                    <% })%>
                </select>
                <select name="ModelMainboard" id="ModelMainboard">
                    <% ModelMainboard.forEach((ModelMainboards, index) => { %>
                        <option value="<%= ModelMainboards %>"><%= ModelMainboards %></option>
                    <% })%>
                </select>
                <select name="Mainboard_CPU_Support" id="Mainboard_CPU_Support">
                    <% Mainboard_CPU_Support.forEach((Mainboard_CPU_Supports, index) => { %>
                        <option value="<%= Mainboard_CPU_Supports %>"><%= Mainboard_CPU_Supports %></option>
                    <% })%>
                </select>
                <select name="MemoryMainboard" id="MemoryMainboard">
                    <% MemoryMainboard.forEach((MemoryMainboards, index) => { %>
                        <option value="<%= MemoryMainboards %>"><%= MemoryMainboards %></option>
                    <% })%>
                </select>
                <select name="Mainboard_Memory_Support" id="Mainboard_Memory_Support">
                    <% Mainboard_Memory_Support.forEach((Mainboard_Memory_Supports, index) => { %>
                        <option value="<%= Mainboard_Memory_Supports %>"><%= Mainboard_Memory_Supports %></option>
                    <% })%>
                </select>
                <select name="PriceMainboard" id="PriceMainboard">
                    <% PriceMainboard.forEach((PriceMainboards, index) => { %>
                        <option value="<%= PriceMainboards %>"><%= PriceMainboards %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">การ์ดจอ: </label>
                <select name="BrandVGA" id="BrandVGA">
                    <% BrandVGA.forEach((BrandVGAs, index) => { %>
                        <option value="<%= BrandVGAs %>"><%= BrandVGAs %></option>
                    <% })%>
                </select>
                <select name="ChipsetVGA" id="ChipsetVGA">
                    <% ChipsetVGA.forEach((ChipsetVGAs, index) => { %>
                        <option value="<%= ChipsetVGAs %>"><%= ChipsetVGAs %></option>
                    <% })%>
                </select>
                <select name="SeriesVGA" id="SeriesVGA">
                    <% SeriesVGA.forEach((SeriesVGAs, index) => { %>
                        <option value="<%= SeriesVGAs %>"><%= SeriesVGAs %></option>
                    <% })%>
                </select>
                <select name="ModelVGA" id="ModelVGA">
                    <% ModelVGA.forEach((ModelVGAs, index) => { %>
                        <option value="<%= ModelVGAs %>"><%= ModelVGAs %></option>
                    <% })%>
                </select>
                <select name="VGA_Base_Clock" id="VGA_Base_Clock">
                    <% VGA_Base_Clock.forEach((VGA_Base_Clocks, index) => { %>
                        <option value="<%= VGA_Base_Clocks %>"><%= VGA_Base_Clocks %></option>
                    <% })%>
                </select>
                <select name="VGA_Boost_Clock" id="VGA_Boost_Clock">
                    <% VGA_Boost_Clock.forEach((VGA_Boost_Clocks, index) => { %>
                        <option value="<%= VGA_Boost_Clocks %>"><%= VGA_Boost_Clocks %></option>
                    <% })%>
                </select>
                <select name="VGA_Memory_Clock" id="VGA_Memory_Clock">
                    <% VGA_Memory_Clock.forEach((VGA_Memory_Clocks, index) => { %>
                        <option value="<%= VGA_Memory_Clocks %>"><%= VGA_Memory_Clocks %></option>
                    <% })%>
                </select>
                <select name="VGA_Memory_Size" id="VGA_Memory_Size">
                    <% VGA_Memory_Size.forEach((VGA_Memory_Sizes, index) => { %>
                        <option value="<%= VGA_Memory_Sizes %>"><%= VGA_Memory_Sizes %></option>
                    <% })%>
                </select>
                <select name="PriceVGA" id="PriceVGA">
                    <% PriceVGA.forEach((PriceVGAs, index) => { %>
                        <option value="<%= PriceVGAs %>"><%= PriceVGAs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">RAM: </label>
                <select name="RAM_Size" id="RAM_Size">
                    <% RAM_Size.forEach((RAM_Sizes, index) => { %>
                        <option value="<%= RAM_Sizes %>"><%= RAM_Sizes %></option>
                    <% })%>
                </select>
                <select name="RAM_Speed" id="RAM_Speed">
                    <% RAM_Speed.forEach((RAM_Speeds, index) => { %>
                        <option value="<%= RAM_Speeds %>"><%= RAM_Speeds %></option>
                    <% })%>
                </select>
                <select name="PriceRAM" id="PriceRAM">
                    <% PriceRAM.forEach((PriceRAMs, index) => { %>
                        <option value="<%= PriceRAMs %>"><%= PriceRAMs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">SSD: </label>
                <select name="CapacitySSD" id="CapacitySSD">
                    <% CapacitySSD.forEach((CapacitySSDs, index) => { %>
                        <option value="<%= CapacitySSDs %>"><%= CapacitySSDs %></option>
                    <% })%>
                </select>
                <select name="Read_SSD" id="Read_SSD">
                    <% Read_SSD.forEach((Read_SSDs, index) => { %>
                        <option value="<%= Read_SSDs %>"><%= Read_SSDs %></option>
                    <% })%>
                </select>
                <select name="Write_SSD" id="Write_SSD">
                    <% Write_SSD.forEach((Write_SSDs, index) => { %>
                        <option value="<%= Write_SSDs %>"><%= Write_SSDs %></option>
                    <% })%>
                </select>
                <select name="PriceSSD" id="PriceSSD">
                    <% PriceSSD.forEach((PriceSSDs, index) => { %>
                        <option value="<%= PriceSSDs %>"><%= PriceSSDs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">SSD2: </label>
                <select name="CapacitySSD2" id="CapacitySSD2">
                    <% CapacitySSD2.forEach((CapacitySSD2s, index) => { %>
                        <option value="<%= CapacitySSD2s %>"><%= CapacitySSD2s %></option>
                    <% })%>
                </select>
                <select name="Read_SSD2" id="Read_SSD2">
                    <% Read_SSD2.forEach((Read_SSD2s, index) => { %>
                        <option value="<%= Read_SSD2s %>"><%= Read_SSD2s %></option>
                    <% })%>
                </select>
                <select name="Write_SSD2" id="Write_SSD2">
                    <% Write_SSD2.forEach((Write_SSD2s, index) => { %>
                        <option value="<%= Write_SSD2s %>"><%= Write_SSD2s %></option>
                    <% })%>
                </select>
                <select name="PriceSSD2" id="PriceSSD2">
                    <% PriceSSD2.forEach((PriceSSD2s, index) => { %>
                        <option value="<%= PriceSSD2s %>"><%= PriceSSD2s %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">HDD: </label>
                <select name="CapacityHDD" id="CapacityHDD">
                    <% CapacityHDD.forEach((CapacityHDDs, index) => { %>
                        <option value="<%= CapacityHDDs %>"><%= CapacityHDDs %></option>
                    <% })%>
                </select>
                <select name="Speed_HDD" id="Speed_HDD">
                    <% Speed_HDD.forEach((Speed_HDDs, index) => { %>
                        <option value="<%= Speed_HDDs %>"><%= Speed_HDDs %></option>
                    <% })%>
                </select>
                <select name="PriceHDD" id="PriceHDD">
                    <% PriceHDD.forEach((PriceHDDs, index) => { %>
                        <option value="<%= PriceHDDs %>"><%= PriceHDDs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">PowerSupply: </label>
                <select name="PS" id="PS">
                    <% PS.forEach((PSs, index) => { %>
                        <option value="<%= PSs %>"><%= PSs %></option>
                    <% })%>
                </select>
                <select name="PricePS" id="PricePS">
                    <% PricePS.forEach((PricePSs, index) => { %>
                        <option value="<%= PricePSs %>"><%= PricePSs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">CASE: </label>
                <select name="BrandCASE" id="BrandCASE">
                    <% BrandCASE.forEach((BrandCASEs, index) => { %>
                        <option value="<%= BrandCASEs %>"><%= BrandCASEs %></option>
                    <% })%>
                </select>
                <select name="ModelCASE" id="ModelCASE">
                    <% ModelCASE.forEach((ModelCASEs, index) => { %>
                        <option value="<%= ModelCASEs %>"><%= ModelCASEs %></option>
                    <% })%>
                </select>
                <select name="WeightCASE" id="WeightCASE">
                    <% WeightCASE.forEach((WeightCASEs, index) => { %>
                        <option value="<%= WeightCASEs %>"><%= WeightCASEs %></option>
                    <% })%>
                </select>
                <select name="I_O_Ports_CASE" id="I_O_Ports_CASE">
                    <% I_O_Ports_CASE.forEach((I_O_Ports_CASEs, index) => { %>
                        <option value="<%= I_O_Ports_CASEs %>"><%= I_O_Ports_CASEs %></option>
                    <% })%>
                </select>
                <select name="PriceCASE" id="PriceCASE">
                    <% PriceCASE.forEach((PriceCASEs, index) => { %>
                        <option value="<%= PriceCASEs %>"><%= PriceCASEs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">COOLING: </label>
                <select name="BrandCOOLING" id="BrandCOOLING">
                    <% BrandCOOLING.forEach((BrandCOOLINGs, index) => { %>
                        <option value="<%= BrandCOOLINGs %>"><%= BrandCOOLINGs %></option>
                    <% })%>
                </select>
                <select name="ModelCOOLING" id="ModelCOOLING">
                    <% ModelCOOLING.forEach((ModelCOOLINGs, index) => { %>
                        <option value="<%= ModelCOOLINGs %>"><%= ModelCOOLINGs %></option>
                    <% })%>
                </select>
                <select name="Fan_Built_In_COOLING" id="Fan_Built_In_COOLING">
                    <% Fan_Built_In_COOLING.forEach((Fan_Built_In_COOLINGs, index) => { %>
                        <option value="<%= Fan_Built_In_COOLINGs %>"><%= Fan_Built_In_COOLINGs %></option>
                    <% })%>
                </select>
                <select name="PriceCOOLING" id="PriceCOOLING">
                    <% PriceCOOLING.forEach((PriceCOOLINGs, index) => { %>
                        <option value="<%= PriceCOOLINGs %>"><%= PriceCOOLINGs %></option>
                    <% })%>
                </select>
                <br>
                <br>

                <label for="">MONITOR: </label>
                <select name="BrandMONITOR" id="BrandMONITOR">
                    <% BrandMONITOR.forEach((BrandMONITORs, index) => { %>
                        <option value="<%= BrandMONITORs %>"><%= BrandMONITORs %></option>
                    <% })%>
                </select>
                <select name="ModelMONITOR" id="ModelMONITOR">
                    <% ModelMONITOR.forEach((ModelMONITORs, index) => { %>
                        <option value="<%= ModelMONITORs %>"><%= ModelMONITORs %></option>
                    <% })%>
                </select>
                <select name="Display_Size_MONITOR" id="Display_Size_MONITOR">
                    <% Display_Size_MONITOR.forEach((Display_Size_MONITORs, index) => { %>
                        <option value="<%= Display_Size_MONITORs %>"><%= Display_Size_MONITORs %></option>
                    <% })%>
                </select>
                <select name="Max_Resolution_MONITOR" id="Max_Resolution_MONITOR">
                    <% Max_Resolution_MONITOR.forEach((Max_Resolution_MONITORs, index) => { %>
                        <option value="<%= Max_Resolution_MONITORs %>"><%= Max_Resolution_MONITORs %></option>
                    <% })%>
                </select>
                <select name="Refresh_Rate_MONITOR" id="Refresh_Rate_MONITOR">
                    <% Refresh_Rate_MONITOR.forEach((Refresh_Rate_MONITORs, index) => { %>
                        <option value="<%= Refresh_Rate_MONITORs %>"><%= Refresh_Rate_MONITORs %></option>
                    <% })%>
                </select>
                <select name="PriceMONITOR" id="PriceMONITOR">
                    <% PriceMONITOR.forEach((PriceMONITORs, index) => { %>
                        <option value="<%= PriceMONITORs %>"><%= PriceMONITORs %></option>
                    <% })%>
                </select>
                <br>
                <br>
                <button type="submit" class="btn btn-info">ทำนาย</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="recommendationModal" tabindex="-1" aria-labelledby="recommendationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recommendationModalLabel">Recommendation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><%= Datarecommen %></p> <!-- แสดงข้อมูลที่ส่งมาจาก server -->
                </div>
                <div class="modal-footer">
                    <a href="/recom" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var recommendationData = '<%= Datarecommen %>'; // รับค่าจากเซิร์ฟเวอร์
            if (recommendationData && recommendationData !== '') {
                var modal = new bootstrap.Modal(document.getElementById('recommendationModal'));
                modal.show(); // แสดง modal เมื่อข้อมูลไม่เป็นค่าว่าง
            }
        });
    </script>
</body>
</html>